notebooks/dset-s2.zip
notebooks/dset-s2/tra_scene/
notebooks/dset-s2/tra_truth/
notebooks/dset-s2/val_scene/
notebooks/dset-s2/val_truth/
notebooks/__MACOSX/._dset-s2
notebooks/geo-pandas/new_yerevan.cpg
notebooks/geo-pandas/Yerevan shapefile/Yerevan.cpg
notebooks/geo-pandas/new_yerevan.dbf
notebooks/geo-pandas/new_yerevan.prj
notebooks/geo-pandas/new_yerevan.shp
notebooks/geo-pandas/new_yerevan.shx
notebooks/geo-pandas/cache/915f818a2c7ebbd2d1c605d25f2935132aea79db.json
notebooks/geo-pandas/cache/a6207dd4aa98b864bc5728c9b764f1416b4de5c2.json
notebooks/geo-pandas/cache/e66db191f200125af80ed2e639eafa3ba418efa6.json
notebooks/geo-pandas/Yerevan shapefile/Yerevan.dbf
notebooks/geo-pandas/Yerevan shapefile/Yerevan.prj
notebooks/geo-pandas/Yerevan shapefile/Yerevan.shp
notebooks/geo-pandas/Yerevan shapefile/Yerevan.shx
notebooks/geo-pandas/cache/1de5fba67b7745630353ec54b1853b9a688ad4ab.json
notebooks/geo-pandas/cache/765ebe36c7c279f3c4a5138e240a0ff2d35035d1.json
notebooks/geo-pandas/cache/07431d10f657a0193dcf3604a998b20e72e61415.json
notebooks/geo-pandas/cache/b24aa5654a68073bcc53203742d9cee044b9d6ac.json
notebooks/geo-pandas/cache/b1192d5f268452854e63c0e283bc2386f4c7f4e6.json
notebooks/geo-pandas/cache/d366a4052f45084a5f4642c3849f910c0703515a.json
